body {
    min-height: 100vh;
    min-width: 100vw;
}
.container {
    height: 80vh;
    width: 95%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#results {
    border: 1px solid black;
    height: 20vh;
}
#arguments, #expectation {
    width: 100%;
}
.wrap {
    width: 100%;
}