body {
    min-height: 100vh;
    min-width: 100vw;
}
.container {
    height: 80vh;
    width: 95%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#submit, #clear {
    margin: 2px 0;
}
#results {
    border: 1px solid black;
    word-wrap: break-word;
    min-height: 20vh;
}
#name, #arguments, #expectation, #results {
    width: 100%;
    font-family: 'Bitstream Vera Sans Mono', monospace; 
}
.wrap {
    width: 100%;
}